.body {
    display: flex;
    align-items: center;
}
.body textarea {
    font-family: var(--mono-font);
    font-size: 1rem;
}
.body math {
    font-family: "Latin Modern";
    font-size: 1.2rem;
    margin: 1rem;
}